@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
@font-face {
  font-family: 'MyCustomFont';
  src: url('/assets/fonts/MyFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'MyCustomFont';
  src: url('/fonts/MyFont.ttf') format('truetype');
}

/* body.modal-open, html.modal-open {
  overflow: hidden !important;
  height: 100vh !important;
  touch-action: none !important;
} */


/* Global styles */
body {
  @apply bg-black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'MyCustomFont', sans-serif;
}


.gradient-bg {
  background: linear-gradient(70deg,
      #FFF -3.32%,
      #9747FF 17.72%,
      #FFF 38.75%,
      #9747FF 59.78%,
      #FFF 80.82%,
      #9747FF 101.85%);

}


.gradient-btn {
  position: relative;
  padding: 12px 44px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: linear-gradient(180deg, #B673FF 0%, #29B5E8 100%);
  background-size: 200% 100%;
  background-position: 100% 100%;
  transition: background-position 0.5s ease-in-out;
}

.gradient-btn:hover {
  background-position: 100% 0%;
}


.react-player>div {
  padding-top: 0 !important;
}





.custom-font {
  font-family: 'MyCustomFont', sans-serif;
}

.custom-text {
  @apply font-light leading-relaxed text-center;
}

.custom-hover-effect {
  @apply transition-all duration-500 delay-75;
}

.flex-center {
  @apply flex items-center justify-center;
}

.bor {
  @apply border-2 border-white/50;
}

.black-bor {
  @apply border border-black
}


.active-sub-menu {
  @apply text-[#B673FF] font-semibold
}


.active-nav {
  @apply text-[#B673FF]
}



.active-menu {
  @apply text-[#29B5E7]
}