@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
@font-face {
  font-family: 'MyCustomFont';
  src: url('/assets/fonts/MyFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'MyCustomFont';
  src: url('/fonts/MyFont.ttf') format('truetype');
}




/* Global styles */
body {
  @apply bg-black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'MyCustomFont', sans-serif;
  /* font-family: "Inter", sans-serif;  */
}


.gradient-bg {
  background: linear-gradient(
    70deg, 
    #FFF -3.32%, 
    #9747FF 17.72%, 
    #FFF 38.75%, 
    #9747FF 59.78%, 
    #FFF 80.82%, 
    #9747FF 101.85%
  );
 
}



.custom-font {
  font-family: 'MyCustomFont', sans-serif;
}
.custom-text {
  @apply font-light leading-relaxed text-center;
}
.custom-hover-effect {
  @apply transition-all duration-500 delay-75;
}
.flex-center {
  @apply flex items-center justify-center;
}

.bor {
  @apply border-2 border-white/50;
}

.black-bor {
  @apply border border-black
}


